<a href="https://colab.research.google.com/github/channmilee/Algorithm/blob/master/1_2_%EB%B0%98%EB%B3%B5%ED%95%98%EB%8A%94_%EC%95%8C%EA%B3%A0%EB%A6%AC%EC%A6%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 1-2. 반복하는 알고리즘

### 1부터 n까지 정수의 합 구하기

#### 실습 1-7.

* 1부터 n까지 정수의 합 구하기 1 (while문)

In [ ]:
print('1부터 n까지 정수의 합을 구합니다.')

n = int(input('n 값을 입력하세요: '))

sum = 0
i = 1

while i <= n:
  sum += i
  i += 1

print(f'1부터 {n}까지 정수의 합은 {sum}입니다.')

1부터 n까지 정수의 합을 구합니다.
n 값을 입력하세요: 5
1부터 5까지 정수의 합은 15입니다.

In [ ]:
# i 값 확인
print('1부터 n까지 정수의 합을 구합니다.')

n = int(input('n 값을 입력하세요: '))

sum = 0
i = 1

while i <= n:
  sum += i
  i += 1

print(f'1부터 {n}까지 정수의 합은 {sum}입니다.')
print(f'i 값은 {i} 입니다.')

1부터 n까지 정수의 합을 구합니다.
n 값을 입력하세요: 5
1부터 5까지 정수의 합은 15입니다.
i 값은 6 입니다.

#### 실습 1-8.

* 1부터 n까지 정수의 합 구하기 (for문)

In [ ]:
print('1부터 n까지 정수의 합을 구합니다.')

n = int(input('n 값을 입력하세요: '))

sum = 0
for i in range(1, n+1):
  sum += i

print(f'1부터 {n}까지 정수의 합은 {sum}입니다.')

1부터 n까지 정수의 합을 구합니다.
n 값을 입력하세요: 5
1부터 5까지 정수의 합은 15입니다.

* 가우스의 덧셈으로 1부터 n까지 정수 합 구하기

In [ ]:
print('1부터 n까지 정수의 합을 구합니다.')

n = int(input('n 값을 입력하세요: '))

sum = n * (n + 1) // 2

print(f'1부터 {n}까지 정수의 합은 {sum}입니다.')

1부터 n까지 정수의 합을 구합니다.
n 값을 입력하세요: 5
1부터 5까지 정수의 합은 15입니다.

### 연속하는 정수의 합을 구하기 위해 값 정렬하기

#### 실습 1-9.

* a부터 b까지 정수의 합 구하기 (for문)

In [ ]:
print('a부터 b까지 정수의 합을 구합니다.')
a = int(input('정수 a를 입력하세요 : '))
b = int(input('정수 b를 입력하세요 : '))

if a > b :
  a,b = b,a   # a,b 오름차순 정렬

sum = 0
for i in range(a, b + 1):
  sum += i

print(f'{a}부터 {b}까지 정수의 합은 {sum}입니다.')

a부터 b까지 정수의 합을 구합니다.
정수 a를 입력하세요 : 8
정수 b를 입력하세요 : 3
3부터 8까지 정수의 합은 33입니다.

In [ ]:
print('a부터 b까지 정수의 합을 구합니다.')
a = int(input('정수 a를 입력하세요 : '))
b = int(input('정수 b를 입력하세요 : '))

if a > b :
  a,b = b,a   # a,b 오름차순 정렬

sum = 0
for i in range(a, b + 1):
  sum += i

print(f'{a}부터 {b}까지 정수의 합은 {sum}입니다.')

a부터 b까지 정수의 합을 구합니다.
정수 a를 입력하세요 : 3
정수 b를 입력하세요 : 8
3부터 8까지 정수의 합은 33입니다.

### 반복 과정에서 조건 판단하기 1

#### 실습 1-10.

* a부터 b까지 정수의 합 구하기 1 (합을 구하는 과정과 최종값 출력하는 프로그램)
  * for문 반복 n 번, if문 판단은  n번

In [ ]:
print('a부터 b까지 정수의 합을 구합니다.')
a = int(input('정수 a를 입력하세요 : '))
b = int(input('정수 b를 입력하세요 : '))

if a > b :
  a,b = b,a

sum = 0
for i in range(a, b + 1):
  if i < b : # i가 b보다 작으면 합을 구하는 과정 출력
    print(f'{i} + ', end = '')
  else:      # i가 b보다 크거나 같으면 최종값 출력을 위해 i= 출력 (마지막 숫자 뒤에는 + 가 아니라 = 이 올 수 있도록)
    print(f'{i} = ', end = '')
  sum += i

print(sum)

a부터 b까지 정수의 합을 구합니다.
정수 a를 입력하세요 : 3
정수 b를 입력하세요 : 3
3 = 3

In [ ]:
print('a부터 b까지 정수의 합을 구합니다.')
a = int(input('정수 a를 입력하세요 : '))
b = int(input('정수 b를 입력하세요 : '))

if a > b :
  a,b = b,a

sum = 0
for i in range(a, b + 1):
  if i < b : # i가 b보다 작으면 합을 구하는 과정 출력
    print(f'{i} + ', end = '')
  else:      # i가 b보다 크거나 같으면 최종값 출력을 위해 i= 출력
    print(f'{i} = ', end = '')
  sum += i

print(sum)

a부터 b까지 정수의 합을 구합니다.
정수 a를 입력하세요 : 3
정수 b를 입력하세요 : 4
3 + 4 = 7

In [ ]:
print('a부터 b까지 정수의 합을 구합니다.')
a = int(input('정수 a를 입력하세요 : '))
b = int(input('정수 b를 입력하세요 : '))

if a > b :
  a,b = b,a

sum = 0
for i in range(a, b + 1):
  if i < b : # i가 b보다 작으면 합을 구하는 과정 출력
    print(f'{i} + ', end = '')
  else:      # i가 b보다 크거나 같으면 최종값 출력을 위해 i= 출력
    print(f'{i} = ', end = '')
  sum += i

print(sum)

a부터 b까지 정수의 합을 구합니다.
정수 a를 입력하세요 : 3
정수 b를 입력하세요 : 7
3 + 4 + 5 + 6 + 7 = 25

* 실습 1-10에서 사용한 if문은 거짓인 else 행이 한 번 수행되기 때문에 추천하지 않음 -> 실습 1-11

#### 실습 1-11.

* a부터 b까지 정수의 합 구하기 2  
  * for문 반복 n - 1번, if문 판단은 0번

In [ ]:
print('a부터 b까지 정수의 합을 구합니다.')
a = int(input('정수 a를 입력하세요 : '))
b = int(input('정수 b를 입력하세요 : '))

if a > b :
  a, b = b, a

sum = 0
for i in range(a, b):
  print(f'{i} + ', end = '')
  sum += i

print(f'{b} = ', end = '')
sum += b

print(sum)

a부터 b까지 정수의 합을 구합니다.
정수 a를 입력하세요 : 3
정수 b를 입력하세요 : 7
3 + 4 + 5 + 6 + 7 = 25

### 반복 과정에서 조건 판단하기 2

#### 실습 1-12.

* '+' 와 '-' 를 번갈아 출력하기 1
  * for문 반복은 n번, 나눗셈은 n번, if문 판단은 n번

In [ ]:
print('+와 -를 번갈아 출력합니다.')
n = int(input('몇 개를 출력할까요? : '))

for i in range(n):
  if i % 2 :              # 홀수일 때 - 출력
    print('-', end = '')
  else:                   # 짝수일 때 + 출력
    print('+', end = '')

print()

+와 -를 번갈아 출력합니다.
몇 개를 출력할까요? : 12
+-+-+-+-+-+-

* 실습 1-12 문제점 -- 개선 --> 실습 1-13
  * for 문 반복할 때마다 if 문 수행
  * 상황에 따라 유연하게 수정하기 어려움 (range 범위 변경하고 print 순서도 바꿔야 함)

In [ ]:
print('+와 -를 번갈아 출력합니다.')
n = int(input('몇 개를 출력할까요? : '))

for i in range(1, n + 1):
  if i % 2 :              # 홀수일 때 + 출력
    print('+', end = '')
  else:                   # 짝수일 때 - 출력
    print('-', end = '')

print()

+와 -를 번갈아 출력합니다.
몇 개를 출력할까요? : 12
+-+-+-+-+-+-

#### 실습 1-13.

* '+' 와 '-' 를 번갈아 출력하기 2
  * for문 반복은 n//2번, if문 판단은 1번

In [ ]:
print('+와 -를 번갈아 출력합니다.')
n = int(input('몇 개를 출력할까요? : '))

for _ in range(n // 2):
  print('+-', end = '')     # +-를 n//2개 출력

if n % 2 :
  print('+', end = '')      # n이 홀수일 때만 + 출력

print()

+와 -를 번갈아 출력합니다.
몇 개를 출력할까요? : 12
+-+-+-+-+-+-

* range() 범위만 바꾸면 됨

In [ ]:
print('+와 -를 번갈아 출력합니다.')
n = int(input('몇 개를 출력할까요? : '))

for _ in range(1, n // 2 + 1):
  print('+-', end = '')

if n % 2 :
  print('+', end = '')

print()

+와 -를 번갈아 출력합니다.
몇 개를 출력할까요? : 12
+-+-+-+-+-+-

* for 문에 언더스코어(_)를 사용한 이유 : for 문에서 range() 함수가 for 문을 순환하며 반환하는 값(인덱스)을 사용할 필요가 없기 때문

### 반복 과정에서 조건 판단하기 3

#### 실습 1-14.

* '*'를 n개 출력하되 w개마다 줄바꿈하기 1

In [ ]:
print('*를 출력합니다.')
n = int(input('몇 개를 출력할까요? : '))
w = int(input('몇 개마다 줄바꿈할까요? : '))

for i in range(n):
  print('*', end = '')
  if i % w == w - 1 :   # n번 판단
    print()             # 줄 바꿈


### n이 w의 배수가 아니면 줄 바꿈을 for문 밖에서 따로 수행해야 함 ###

if n % w :              # 1번 판단
  print()               # 줄 바꿈

*를 출력합니다.
몇 개를 출력할까요? : 14
몇 개마다 줄바꿈할까요? : 5
*****
*****
****

* w가 5이면 i가 4, 9, 14일 때 줄 바꿈. 따라서 n이 w의 배수가 아니라면 마지막 *를 출력한 다음 for문 밖에서 따로 줄을 바꿔야 함

#### 실습 1-15.

* '*'를 n개 출력하되 w개마다 줄바꿈하기 2

In [ ]:
print('*를 출력합니다.')
n = int(input('몇 개를 출력할까요? : '))
w = int(input('몇 개마다 줄바꿈할까요? : '))

for _ in range(n // w) :  # n//w번 반복
  print('*' * w)

rest = n % w
if rest:     # if문 판단 1번
  print('*' * rest)

*를 출력합니다.
몇 개를 출력할까요? : 14
몇 개마다 줄바꿈할까요? : 5
*****
*****
****

1.  n//w번 출력하기  
  마지막 줄 바꿈 포함하여 '*'를 n//w번 반복 출력.  
  예를 들어 n = 15, w = 5 라면 ***** 3번 출력  
  n = 14, w = 5 라면 ***** 2번 출력

2.  n % w번 출력하기  
  n이 w의 배수가 아닌 경우, rest에 n을 w로 나눈 나머지 저장하고 rest만큼 '*' 출력

### 양수만 입력받기

#### 실습 1-16.

* 1부터 n까지 정수의 합 구하기 (n값은 양수만 입력받음)

In [ ]:
print('1부터 n까지 정수의 합을 구합니다.')

while True:
  n = int(input('n값을 입력하세요 : '))
  if n > 0:
    break # n이 0보다 커질 때까지 반복

sum = 0
i = 1

for i in range(1, n + 1):
  sum += i
  i += 1

print(f'1부터 {i}까지 정수의 합은 {sum}입니다.')

1부터 n까지 정수의 합을 구합니다.
n값을 입력하세요 : -6
n값을 입력하세요 : -9
n값을 입력하세요 : 5
1부터 6까지 정수의 합은 15입니다.

### 직사각형 넓이로 변의 길이 구하기

#### 실습 1-17.

* 가로, 세로 길이가 정수이고 넓이가 area인 직사각형에서 변의 길이 나열하기

In [ ]:
area = int(input('직사각형의 넓이를 입력하세요 : '))

for i in range(1, area + 1):
  if i * i > area : break
  if area % i : continue     # area % i 나머지가 0이 아니면(False) continue -> 명령문 건너뛰고 조건식으로 넘어감
  print(f'{i} x {area//i}')  # 짧은 변, 긴 변의 순서로 출력

직사각형의 넓이를 입력하세요 : 32
1 x 32
2 x 16
4 x 8

#### 실습 1-18.

* 10~99 사이의 난수 n개 생성하기 (13이 나오면 중단)

In [ ]:
import random

n = int(input('난수의 개수를 입력하세요 : '))

for _ in range(n):
  r = random.randint(10,99)
  print(r, end = ' ')
  if r == 13:
    print('\n13이 출력되어 프로그램을 중단합니다.')
    break
else:
  print('\n난수 생성을 종료합니다. ')

난수의 개수를 입력하세요 : 5
12 31 96 13
13이 출력되어 프로그램을 중단합니다.

* while 문 이나 for 문 등 반복문의 끝부분에는 else를 둘 수 있음. else문은 조건식에 의해 반복문이 종료되는 경우 실행

### 반복문 건너뛰기와 여러 범위 스캔하기

#### 실습 1-19.

* 1~12까지 8을 건너뛰고 출력하기 1

In [4]:
for i in range(1,13):
  if i == 8:
    continue
  print(i, end = ' ')
print()

1 2 3 4 5 6 7 9 10 11 12

* 숫자 하나를 건너뛰기 위해 출력해야 하는 범위만큼 판단해야 하기 때문에 비효율적임  -> 실습 1-20  
(예를 들어 100,000까지 출력해야 한다면 if문을 100,000번 실행해야 함)

#### 실습 1-20.

* 1~12까지 8을 건너뛰고 출력하기 2

In [6]:
for i in list(range(1,8)) + list(range(9,13)):
  print(i, end = ' ')
print()

1 2 3 4 5 6 7 9 10 11 12

* 단순 리스트를 사용해 8을 건너 뛰었지만 for문은 리스트 원소를 하나씩 꺼내 반복함. 반복을 위한 연산 비용은 여전히 존재

#### 실습 1c-3.

* 비교 연산자를 연속으로 사용하는 방법과 드모르간의 법칙

In [7]:
print('2자리 양수를 입력하세요')

while True:
  no = int(input('값을 입력하세요 : '))
  if no >= 10 and no <= 99:
    break

print(f'입력 받은 양수는 {no}입니다.')

2자리 양수를 입력하세요
값을 입력하세요 : 9
값을 입력하세요 : 120
값을 입력하세요 : 54
입력 받은 양수는 54입니다.

In [ ]:
# 비교 연산자를 연속으로 사용한 방법
while True:
  if 10 <= no <= 99:
    break

# 드모르간의 법칙을 사용한 방법
while True:
  if not(no < 10 or no > 99):
    break

### 다중 루프 알아보기

#### 실습 1-21.

* 구구단 곱셈표 출력하기

In [10]:
print('-' * 27)

for i in range(1,10):
  for j in range(1,10):
    print(f'{i * j :3}', end = '')   # i * j 를 3자리로 출력
  print() # 행 변경

print('-' * 27)

---------------------------
  1  2  3  4  5  6  7  8  9
  2  4  6  8 10 12 14 16 18
  3  6  9 12 15 18 21 24 27
  4  8 12 16 20 24 28 32 36
  5 10 15 20 25 30 35 40 45
  6 12 18 24 30 36 42 48 54
  7 14 21 28 35 42 49 56 63
  8 16 24 32 40 48 56 64 72
  9 18 27 36 45 54 63 72 81
---------------------------

#### 실습 1-22.

* 왼쪽 아래가 직각인 이등변 삼각형으로 * 출력하기

In [12]:
print('왼쪽 아래가 직각인 이등변 삼각형을 출력합니다.')

n = int(input('짧은 변의 길이를 입력하세요 : '))

for i in range(n):
  for j in range(i + 1):
    print('*', end = '')
  print()   # 행 변경

왼쪽 아래가 직각인 이등변 삼각형을 출력합니다.
짧은 변의 길이를 입력하세요 : 5
*
**
***
****
*****

#### 실습 1-23.

* 오른쪽 아래가 직각인 이등변 삼각형으로 * 출력하기

In [13]:
print('오른쪽 아래가 직각인 이등변 삼각형을 출력합니다.')

n = int(input('짧은 변의 길이를 입력하세요 : '))

for i in range(n):
  for _ in range(n - i - 1):    # 공백 출력
    print(' ', end = '')
  for _ in range(i + 1):        # * 출력
    print('*', end = '')
  print()   # 행 변경

오른쪽 아래가 직각인 이등변 삼각형을 출력합니다.
짧은 변의 길이를 입력하세요 : 5
    *
   **
  ***
 ****
*****

### 보충 수업) 파이썬의 변수 알아보기

* 파이썬에서 객체의 의미
  * 데이터, 함수, 클래스, 모튤, 패키지 등은 모두 객체로 취급함
  * 객체는 자료형(data type)을 가지며 메모리(저장 공간)을 차지함
  * 파이썬 변수는 값을 갖지 않음

* 파이썬에서 변수와 객체
  * 변수는 객체를 참조하는 객체에 연결된 이름에 불과
  * 모든 객체는 메모리를 차지하고, 자료형 뿐만 아니라 식별 번호를 가짐

In [14]:
n = 17

In [15]:
id(17)

11531424

In [16]:
id(n)

11531424

* 정수 리터럴 17의 식별 번호와 n의 식별 번호가 같음
  * n = 17이 값을 복사항 대입하지 않음
  * 값 17의 int형 객체를 참고하는 n이라는 이름을 결합

#### 실습 1c-4.

* 함수 내부, 외부에서 정의한 변수와 객체의 식별 번호 출력하기

In [17]:
n = 1    # 전역 변수 (함수 내부, 외부에서 사용)

def put_id():
  x = 1  # 지역 변수 (함수 내부에서만 사용)
  print(f'id(x) = {id(x)}')

print(f'id(1) = {id(1)}')
print(f'id(n) = {id(n)}')
put_id()

id(1) = 11530912
id(n) = 11530912
id(x) = 11530912

* n, x는 모두 int형 객체 1을 참조하는 이름에 불과