<a href="https://colab.research.google.com/github/channmilee/Algorithm/blob/master/2_1_%EC%9E%90%EB%A3%8C%EA%B5%AC%EC%A1%B0%EC%99%80_%EB%B0%B0%EC%97%B4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 배열 개념 알아보기

#### 실습 2-1.

* 학생 5명의 시험 점수를 입력받아 합계와 평균 출력하기

In [ ]:
print('학생 그룹 점수의 합계와 평균을 구합니다.')

score1 = int(input('1번 학생의 점수를 입력하세요 : '))
score2 = int(input('2번 학생의 점수를 입력하세요 : '))
score3 = int(input('3번 학생의 점수를 입력하세요 : '))
score4 = int(input('4번 학생의 점수를 입력하세요 : '))
score5 = int(input('5번 학생의 점수를 입력하세요 : '))

total = 0
total += score1
total += score2
total += score3
total += score4
total += score5

print(f'합계는 {total}점 입니다.')
print(f'평균은 {total / 5}점 입니다.')

학생 그룹 점수의 합계와 평균을 구합니다.
1번 학생의 점수를 입력하세요 : 32
2번 학생의 점수를 입력하세요 : 54
3번 학생의 점수를 입력하세요 : 68
4번 학생의 점수를 입력하세요 : 72
5번 학생의 점수를 입력하세요 : 92
합계는 318점 입니다.
평균은 63.6점 입니다.

### 리스트와 튜플 알아보기

* 뮤터블 자료형 : 리스트, 딕셔너리, 집합 / 값 변경 가능
* 이뮤터블 자료형 : 수, 문자열, 튜플 / 값 변경 불가능

#### 리스트의 기초

In [ ]:
list01 = []
list01

[]

In [ ]:
list02 = [1,2,3]
list02

[1, 2, 3]

In [ ]:
list03 = ['A', 'B', 'C',]
list03

['A', 'B', 'C']

* list() 함수 사용

In [ ]:
list04 = list()
list04

[]

In [ ]:
list05 = list('ABC')
list05

['A', 'B', 'C']

In [ ]:
list06 = list([1,2,3])
list06

[1, 2, 3]

In [ ]:
list07 = list((1,2,3))
list07

[1, 2, 3]

In [ ]:
list08 = list({1,2,3})
list08

[1, 2, 3]

* range() 함수 사용

In [ ]:
list09 = list(range(7))
list09

[0, 1, 2, 3, 4, 5, 6]

In [ ]:
list10 = list(range(3,8))
list10

[3, 4, 5, 6, 7]

In [ ]:
list11 = list(range(3,13,2))
list11

[3, 5, 7, 9, 11]

* None을 활용해 원솟값을 정하지 않는 리스트 만들기

In [ ]:
list12 = [None]  * 5
list12

[None, None, None, None, None]

#### 튜플의 기초

In [ ]:
tuple01 = ()
tuple01

()

In [ ]:
# 원소가 하나인 경우 원소 뒤에 쉼표를 반드시 입력해야 함
tuple02 = 1,
tuple02

(1,)

In [ ]:
# 원소가 하나인 경우 원소 뒤에 쉼표를 반드시 입력해야 함
tuple03 = (1,)
tuple03

(1,)

In [ ]:
# 튜플이 아닌 하나의 값을 가진 int형 변수
v01 = 1
v01

1

In [ ]:
tuple04 = 1,2,3
tuple04

(1, 2, 3)

In [ ]:
tuple05 = 1,2,3,
tuple05

(1, 2, 3)

In [ ]:
tuple06 = (1,2,3)
tuple06

(1, 2, 3)

In [ ]:
tuple07 = (1,2,3,)
tuple07

(1, 2, 3)

In [ ]:
tuple08 = 'A', 'B', 'C',
tuple08

('A', 'B', 'C')

* tuple 함수 사용

In [ ]:
tuple09 = tuple()
tuple09

()

In [ ]:
tuple10 = tuple('ABC')
tuple10

('A', 'B', 'C')

In [ ]:
tuple11 = tuple([1,2,3])
tuple11

(1, 2, 3)

In [ ]:
tuple12 = tuple({1,2,3})
tuple12

(1, 2, 3)

* range() 함수 사용

In [ ]:
tuple13 = tuple(range(7))
tuple13

(0, 1, 2, 3, 4, 5, 6)

In [ ]:
tuple14 = tuple(range(3,8))
tuple14

(3, 4, 5, 6, 7)

In [ ]:
tuple15 = tuple(range(3,13,2))
tuple15

(3, 5, 7, 9, 11)

#### 리스트와 튜플 풀어내기

In [ ]:
X = [1,2,3]
a,b,c = X   # X를 언팩하여 변수 a,b,c에 대입
a,b,c

(1, 2, 3)

#### 인덱스로 원소에 접근하기

* 인덱스식 사용하기

In [ ]:
x = [11,22,33,44,55,66,77]

In [ ]:
# 리스트 x의 앞에서 3번째 원소 출력
x[2]

33

In [ ]:
# 리스트 x의 뒤에서 3번째 원소 출력
x[-3]

55

In [ ]:
# 리스트 x의 뒤에서 4번째 원소에 새로운 값 대입
x[-4] = 3.14
x

[11, 22, 33, 3.14, 55, 66, 77]

In [ ]:
# 존재하지 않는 인덱스이므로 오류 출력
x[7]

IndexError: ignored

In [ ]:
# x[7]은 존재하지 않기 때문에 대입 불가
x[7] = 3.14

IndexError: ignored

#### 슬라이스식으로 원소에 접근하기

* 슬라이스식으로 원소 꺼내기

In [ ]:
s = [11,22,33,44,55,66,77,88,99]

In [ ]:
# 리스트 s의 0번째부터 5번째 원소 출력
s[0:6]

[11, 22, 33, 44, 55, 66]

In [ ]:
# 리스트 s의 0번째부터 6번째 원소 출력
s[0:7]

[11, 22, 33, 44, 55, 66, 77]

In [ ]:
# 리스트 s의 0번째 원소부터 6번째 원소 중 2씩 건너뛰며 원소 출력
s[0:7:2]

[11, 33, 55, 77]

In [ ]:
# 리스트 s의 뒤에서 4번째 원소부터 뒤에서 2번째 원소 출력
s[-4:-2]

[66, 77]

In [ ]:
# 큰 수가 먼저 와도 오류는 발생하지 않음
s[3:1]

[]

In [ ]:
# 리스트 s의 원소 중 맨 끝에서부터 전부 출력
s[::-1]

[99, 88, 77, 66, 55, 44, 33, 22, 11]

### 자료구조의 개념 알아보기

* 자료구조 
  * 데이터 단위와 데이터 자체 사이의 물리적 또는 논리적인 관계
  * 데이터가 모여 있는 구조

#### 배열

* 파이썬의 자료형인 리스트, 튜플은 자료구조에 포함시켜 배열이라고 할 수 있음

In [ ]:
# 빈 배열 판단하기
x = [1,2,3]

if x:
  print('x가 비어 있지 않으면(True) 실행')
else:
  print('x가 비어 있으면(False) 실행')

x가 비어 있지 않으면(True) 실행

In [ ]:
# 비교 연산자로 배열의 대소 또는 등가 관계 판단하기


[1,2,3] == [1,2,3]
[1,2,3,] < [1,2,4]
[1,2,3] < [1,2,3,4,5] < [1,2,3,4,5,6]

True

* 등가성 vs 동일성
  * 등가성 비교 : 좌변, 우변이 같은지 비교 (==) 
  * 동일성 비교 : 값은 물론 객체의 식별 번호까지 같은지 비교 (is)

* 내포 표기 생성

In [ ]:
number = [1,2,3,4,5]
twise = [num * 2 for num in number if num % 2 == 1]
twise

[2, 6, 10]