<a href="https://colab.research.google.com/github/channmilee/Algorithm/blob/master/2_2_%EB%B0%B0%EC%97%B4%EC%9D%B4%EB%9E%80%3F.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 배열 원소의 최댓값 구하기

* 스캔 : 배열 원소를 하나씩 차례대로 주목하여 살펴보는 방식 (주사 또는 프래버스 라고도 함)

In [ ]:
# list a 원소를 처음부터 끝까지 "스캔"해서 살펴 봄
def max_of(a):
  maximum = a[0]
  for i in range(1, len(a)):
    if a[i] > maximum:
      maximum = a[i]

### 배열 원소의 최댓값을 구하는 함수 구현하기

#### 실습 2-2.

* 시퀀스 원소의 최댓값 출력하기

In [ ]:
from typing import Any, Sequence

def max_of(a: Sequence) -> Any:
  """시퀀스 형 a 원소의 최댓값 반환"""
  maximum = a[0]
  for i in range(1, len(a)):
    if a[i] > maximum :
      maximum = a[i]
  return maximum

if __name__ == '__main__':
  print('배열의 최댓값을 구합니다.')
  num = int(input('원소 수를 입력하세요 : '))
  x = [None] * num

  for i in range(num):
    x[i] = int(input(f'x[{i}]값을 입력하세요 : '))
  print(f'최댓값은 {max_of(x)}입니다.')

배열의 최댓값을 구합니다.
원소 수를 입력하세요 : 5
x[0]값을 입력하세요 : 1
x[1]값을 입력하세요 : 2
x[2]값을 입력하세요 : 3
x[3]값을 입력하세요 : 4
x[4]값을 입력하세요 : 5
최댓값은 5입니다.

##### **-- 주석과 자료형 힌트**

* from typing import Any, Sequence
  * Any : 제약이 없는 임의의 자료형을 의미
  * Sequence : 시퀀스형을 의미 (리스트형, 바이트 배열형, 문자열형, 튜플형, 바이트열형이 있음)
* def max_of(a: Sequence) -> Any:
  * 건네받는 매개변수 a의 자료형은 Sequence
  * 반환하는 것은 임의의 자료형인 Any
* max_of() 함수의 특성
  * 함수 안에서는 배열 a의 원솟값을 변경하지 않음
  * 호출하는 쪽이 넘겨주는 실제 인수의 자료형은 뮤터블, 이뮤터블에 상관없이 시퀀스 자료형이면 됨
  * 인수의 원소를 비교 연산자 > 로 비교할 수 있다면 int, float 형이 섞여있어도 됨
  * 최댓값의 원소가 int 형 원소이면 int 형 원소 반환. float 형 원소이면 float 형 반환

##### **-- 재사용할 수 있는 모듈 작성**

* 모듈
  * 하나의 스크립트 프로그램
  * 실습 2-2 프로그램 파일의 이름은 max임
  * 모듈은 프로그램이 처음 임포트 되는 시점에 그 모듈 객체가 생성되면서 초기화되는 구조
  * 따라서 실습 2-2 프로그램에서 if 문은 `max.py`를 직접 시작한 경우에만 참이되어 실행 가능  
  다른 스크립트 프로그램에서 임포트한 경우에는 거짓이기 때문에 실행 불가능

In [ ]:
if __name__ == '__main__':
  # 왼쪽 피연산자 __name__은 모듈 이름을 나타내는 변수

* 스크립트 프로그램이 직접 실행될 때 변수 `__name__` 은 `'__main__'`
* 스크립프 프로그램이 임포트될 때 변수  `__name__`은 원래의 모듈 이름

#### 실습 2-3.

* 배열 원소의 최댓값을 구해서 출력하기 (원솟값을 입력 받음)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
cd '/content/drive/MyDrive/Colab Notebooks/study/자료구조 알고리즘/[예제소스]/chap02'

/content/drive/MyDrive/Colab Notebooks/study/자료구조 알고리즘/[예제소스]/chap02

In [ ]:
from max import max_of

print('배열의 최댓값을 구합니다.')
print('주의: "End"를 입력하면 종료합니다.')

number = 0
x = []

while True:
  s = input(f'x[{number}]값을 입력하세요 : ')
  if s == 'End':
    break
  x.append(int(s))
  number += 1

print(f'{number}개를 입력했습니다.')
print(f'최댓값은 {max_of(x)}입니다.')

배열의 최댓값을 구합니다.
주의: "End"를 입력하면 종료합니다.
x[0]값을 입력하세요 : 15
x[1]값을 입력하세요 : 72
x[2]값을 입력하세요 : 64
x[3]값을 입력하세요 : 7
x[4]값을 입력하세요 : End
4개를 입력했습니다.
최댓값은 72입니다.

* max 모듈을 임포트하지만 max.py 파일 내에서 if문은 실행되지 않음.  
다른 프로그램(모듈)에서 임포트될 때 `__name__ == '__main__'`이 성립하지 않기 때문

#### 실습 2-4.

* 배열 원소의 최댓값을 구해서 출력하기(원솟값을 난수로 생성)

In [ ]:
import random
from max import max_of

print('난수의 최댓값을 구합니다.')
num = int(input('난수의 개수를 입력하세요 : '))
lo = int(input('난수의 최솟값을 입력하세요 : '))
hi = int(input('난수의 최댓값을 입력하세요 : '))
x = [None] * num

for i in range(num):
  x[i] = random.randint(lo, hi)

print(x)
print(f'이 가운데 최댓값은 {max_of(x)} 입니다.')

난수의 최댓값을 구합니다.
난수의 개수를 입력하세요 : 5
난수의 최솟값을 입력하세요 : 10
난수의 최댓값을 입력하세요 : 99
[36, 68, 30, 91, 97]
이 가운데 최댓값은 97 입니다.

#### 실습 2-5.

* 각 배열 원소의 최댓값을 구해서 출력하기 (튜플, 문자열, 문자열 리스트)

In [ ]:
from max import max_of

t = (4, 7, 5.6, 2, 3.14, 1)
s = 'string'
a = ['DTS', 'AAC', 'FLAC']

print(f'{t}의 최댓값은 {max_of(t)} 입니다.\n')
print(f'{s}의 최댓값은 {max_of(s)} 입니다.\n')
print(f'{a}의 최댓값은 {max_of(a)} 입니다.')

(4, 7, 5.6, 2, 3.14, 1)의 최댓값은 7 입니다.

string의 최댓값은 t 입니다.

['DTS', 'AAC', 'FLAC']의 최댓값은 FLAC 입니다.

### 배열 원소를 역순으로 정렬하기

#### 실습 2-6.

* 뮤터블 시퀀스 원소를 역순으로 정렬

In [ ]:
for i in range(len(a)//2):
  # a[i]와 a[n-i-1]의 값을 교환

In [ ]:
from typing import Any, MutableSequence

def reverse_array(a : MutableSequence) -> None:
  """뮤터블 시퀀스 a의 원소를 역순으로 정렬"""
  n = len(a)
  for i in range( n // 2):
    a[i], a[n-i-1] = a[n-i-1], a[i]

if __name__ == '__main__':
  print('배열 원소를 역순으로 정렬합니다.')
  nx = int(input('원소 수를 입력하세요 : '))
  x = [None] * nx

  for i in range(nx):
    x[i] = int(input(f'x[{i}] 값을 입력하세요 : '))

  reverse_array(x)

  print()
  print('배열 원소를 역순으로 정렬했습니다.')
  for i in range(nx):
    print(f'x[{i}] = {x[i]}')

배열 원소를 역순으로 정렬합니다.
원소 수를 입력하세요 : 5
x[0] 값을 입력하세요 : 1
x[1] 값을 입력하세요 : 2
x[2] 값을 입력하세요 : 3
x[3] 값을 입력하세요 : 4
x[4] 값을 입력하세요 : 5

배열 원소를 역순으로 정렬했습니다.
x[0] = 5
x[1] = 4
x[2] = 3
x[3] = 2
x[4] = 1

### 기수 변환하기 (n 진수 구하기)

#### 기수 개념

* 기수
  * 수를 나타내는 기초
  * 10진법에서는 0~9까지 정수를 의미
* 서수 
  * 사물의 순서를 나타냄
  * 첫째, 둘째, 셋째

* 10진수 (decimal)
  * 0 1 2 3 4 5 6 7 8 9
  * **1자릿수** : 0 ~ 9
  * **2자릿수** : 10 ~ 99
  * **3자릿수** : 100 ~ 999

* 8진수 (octal)
  * 0 1 2 3 4 5 6 7
  * **1자릿수** : 0 ~ 7
  * **2자릿수** : 10 ~ 77
  * **3자릿수** : 100 ~ 777

* 16진수(hexadecimal)
  * 0 1 2 3 4 5 6 7 8 9 A B C D E F
  * **1자릿수** : 0 ~ F
  * **2자릿수** : 10 ~ FF
  * **3자릿수** : 100 ~ FFF

#### 실습 2-7. [A]

* 10진수 정숫값을 입력받아 2~36진수로 변환하여 출력하기

In [ ]:
def card_conv(x: int, r:int) -> str:
  """ 정숫값 x를 r진수로 변환한 뒤 그 수를 나타내는 문자열을 반환"""

  d = ""   # 반환 후의 문자열
  dchar = '01234566789ABCDEFGHIJKLMNOPQRSTUVWXYZ'

  while x > 0:
    d += dchar[x % r] # 해당하는 문자를 꺼내 결합
    x //= r

  return d[::-1] # 역순으로 반환

* x가 0이 될 때까지 반복. 이때 x를 r로 나눈 나머지의 값 위치에 있는 문자를 d에 결합하므로 문자열 d의 맨 앞은 마지막으로 구한 문자가 됨. 따라서 변환된 문자열 d는 역순으로 출력해야 함

#### 실습 2-7. [A]-보충

In [ ]:
def card_conv2(x: int, r:int) -> str:
  """ 정숫값 x를 r진수로 변환한 뒤 그 수를 나타내는 문자열을 반환"""

  d = ""   # 반환 후의 문자열
  dchar = '01234566789ABCDEFGHIJKLMNOPQRSTUVWXYZ'
  n = len(str(x))

  print(f'{r:2} | {x:{n}d}')

  while x > 0:
    print('  +' + (n + 2) * '-')
    if x // r :
      print(f'{r:2} | {x // r:{n}d} ... {x % r}')
    else:
      print(f'  {x // r:{n}d} ... {x % r}')
    d += dchar[x % r] # 해당하는 문자를 꺼내 결합
    x //= r

  return d[::-1] # 역순으로 반환

#### 실습 2-7. [B]

In [ ]:
if __name__ == '__main__':
  print('10진수를 n진수로 변환합니다.')

  while True:
    while True: # 음이 아닌 정수를 입력 받음
      no = int(input('변환할 값으로 음이 아닌 정수를 입력하세요 : '))
      if no > 0:
        break
    
    while True: # 2~36진수의 정숫값을 입력 받음
      cd = int(input('어떤 진수로 변환할까요? : '))
      if 2 <= cd <= 36:
        break
    
    print(f'{cd} 진수로는 {card_conv(no, cd)} 입니다.')

    retry = input("한 번 더 변환할까요? (Y = 예 / N = 아니요) : ")
    if retry in {'N', 'n'}:
      break

10진수를 n진수로 변환합니다.
변환할 값으로 음이 아닌 정수를 입력하세요 : 29
어떤 진수로 변환할까요? : 2
2 진수로는 11101 입니다.
한 번 더 변환할까요? (Y = 예 / N = 아니요) : N

#### 실습 2-7. [B]-보충

In [ ]:
if __name__ == '__main__':
  print('10진수를 n진수로 변환합니다.')

  while True:
    while True: # 음이 아닌 정수를 입력 받음
      no = int(input('변환할 값으로 음이 아닌 정수를 입력하세요 : '))
      if no > 0:
        break
    
    while True: # 2~36진수의 정숫값을 입력 받음
      cd = int(input('어떤 진수로 변환할까요? : '))
      if 2 <= cd <= 36:
        break
    
    print(f'{cd} 진수로는 {card_conv2(no, cd)} 입니다.')

    retry = input("한 번 더 변환할까요? (Y = 예 / N = 아니요) : ")
    if retry in {'N', 'n'}:
      break

10진수를 n진수로 변환합니다.
변환할 값으로 음이 아닌 정수를 입력하세요 : 29
어떤 진수로 변환할까요? : 2
 2 | 29
  +----
 2 | 14 ... 1
  +----
 2 |  7 ... 0
  +----
 2 |  3 ... 1
  +----
 2 |  1 ... 1
  +----
   0 ... 1
2 진수로는 11101 입니다.
한 번 더 변환할까요? (Y = 예 / N = 아니요) : n

### 소수 나열하기

#### 실습 2-8.

* 100 이하의 소수 나열하기

In [ ]:
counter = 0

for n in range(2, 101):
  for i in range(2, n):
    counter += 1
    if n % i == 0 : # 나누어 떨어지면 소수가 아님
      break
  else:
    print(n)

print(f'나눗셈 실행 횟수 : {counter}')

3
5
5
5
7
7
7
7
7
9
11
11
11
11
11
11
11
11
11
13
13
13
13
13
13
13
13
13
13
13
15
17
17
17
17
17
17
17
17
17
17
17
17
17
17
17
19
19
19
19
19
19
19
19
19
19
19
19
19
19
19
19
19
21
23
23
23
23
23
23
23
23
23
23
23
23
23
23
23
23
23
23
23
23
23
25
25
25
27
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
33
35
35
35
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
39
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
45
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
49
49
49
49
49
51
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
55
55
55
57
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
63
65
65
65
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
69
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
75
77
77
77
77
77
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
81
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
85
85
85
87
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
91
91
91
91
91
93
95
95
95
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
99
나눗셈 실행 횟수 : 1133

* n이 **소수**일 때 : for문은 마지막가지 실행됨. else 문을 통해 n값 출력
* n이 **합성수**일 때 : for문 중단

#### 실습 2-9.

* 100 이하의 소수를 나열하기 (알고리즘 개선 1)

In [ ]:
counter = 0            # 나눗셈 횟수 카운트
ptr = 0                # 이미 찾은 소수의 개수
prime = [None] * 500   # 소수를 저장하는 배열

prime[ptr] = 2         # 2는 소수이므로 초깃값으로 지정
ptr += 1

for n in range(3, 101, 2):   # 홀수만을 대상으로 설정 (4 이상 짝수는 2로 나누어 떨어지기 때문에 소수가 아님)
  for i in range(1, ptr):    # 이미 찾은 소수로 나눔  (판단 대상이 홀수 이므로 prime[0] = 2는 나눌 필요가 없어서 prime[1]부터 시작)
    counter += 1
    if n % prime[i] == 0:    # 나누어 떨어지면 소수가 아님
      break                  # 반복 중단
  else:                      # 끝까지 나누어 떨어지지 않았다면
    prime[ptr] = n           # 소수로 배열에 등록
    ptr += 1

for i in range(ptr):
  print(prime[i])
print(f'나눗셈 실행 횟수 : {counter}')

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
나눗셈 실행 횟수 : 313

1. n = 3일 때
  * 이중 for문의 안쪽 for문은 실행되지 않음.  
  else문에서 n 값 3을 prime[1]에 대입

2. n = 9일 때
  * prime[1]에 저장한 3으로 나눗셈을 실행하면 나누어 떨어지기 때문에 안쪽 for문이 중단되어 else문은 실행되지 않음

#### 실습 2-10.

* 100 이하의 소수를 나열하기 (알고리즘 개선 2)

* `n의 제곱근 이하의 어떤 소수로도 나누어 떨어지지 않음` 을 만족하면 소수
  * prime[i] * prime[i] <= n 에서는 prime[i]가 n보다 작거나 같은지를 곱셈을 이용해 판단.  
  n의 제곱근을 구하는 것보다 제곱을 구하는 것이 간단하고 빠름

In [ ]:
counter = 0            # 곱셈과 나눗셈을 합한 횟수
ptr = 0                # 이미 찾은 소수의 개수
prime = [None] * 500   # 소수를 저장하는 배열

prime[ptr] = 2         # 2는 소수
ptr += 1

prime[ptr] = 3         # 3은 소수
ptr += 1

for n in range(5, 101, 2):  
  i = 1
  while prime[i] * prime[i] <= n:
    counter += 2
    if n % prime[i] == 0:
      break
    i += 1
  else:
    prime[ptr] = n
    ptr += 1
    counter += 1

for i in range(ptr):
  print(prime[i])
print(f'곱셈과 나눗셈을 실행한 횟수 : {counter}')

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
곱셈과 나눗셈을 실행한 횟수 : 191

* counter : 알고리즘이 계산 비용을 얼마나 요구하는지 저장하는 변수
  * **곱셈** : prime[i] * prime[1] <= n
  * **나눗셈** : n % prime[i]
  * prime[i] * prime[1] <= n 가 성립하지 않으면 곱셈 횟수는 계산되지 않음. else문에서 1 증가.

* 100 이하의 소수를 나열하기(알고리즘 개선 2) - 배열의 원솟수를 미리 결정하지 않음

In [ ]:
counter = 0             # 곱셈과 나눗셈을 합한 횟수
prime = [2, 3]          # 소수를 저장하는 배열

for n in range(5, 101, 2):     # 홀수만을 대상으로 설정
    i = 1
    while prime[i] * prime[i] <= n:
        counter += 2
        if n % prime[i] == 0:   # 나누어 떨어지므로 소수가 아님
            break               # 반복 중단
        i += 1
    else:                       # 끝까지 나누어 떨어지지 않았다면
        prime += [n]            # 소수로 배열에 등록 (등록 방법이 달라짐)
        counter += 1

for i in prime:                 # 소수를 출력
    print(i)
print(f'곱셈과 나눗셈을 실행한 횟수: {counter}')

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
곱셈과 나눗셈을 실행한 횟수: 191

In [ ]:
a = [1,2,3,4]
a += [5]
a

[1, 2, 3, 4, 5]

* 2-10 더 자세하게 이해하기

In [ ]:
counter = 0            # 곱셈과 나눗셈을 합한 횟수
ptr = 0                # 이미 찾은 소수의 개수
prime = [None] * 10    # 소수를 저장하는 배열

prime[ptr] = 2         # 2는 소수
ptr += 1

prime[ptr] = 3         # 3은 소수
ptr += 1

for n in range(5, 13, 2):  
  i = 1
  while prime[i] * prime[i] <= n:
    counter += 2
    if n % prime[i] == 0:
      print(f'----- n이 {n}일 때')
      print(f'{n}일 때 {n} % {prime[i]} == 0이 성립하기 때문에 break')
      print(f'이때 곱셈과 나눗셈 실행 횟수 = {counter} \n')
      break
    i += 1
  else:
    print(f'----- n이 {n}일 때')
    print(f'prime[{i}] * prime[{i}] <= {n}이 성립하지 않음({prime[i]} * {prime[i]} = {prime[i] * prime[i]}). while문 실행 x ')
    print(f'따라서 {n} 값이 prime 리스트에 추가됨')
    prime[ptr] = n
    print('지금까지 prime 리스트 상황 : ', prime[:ptr+1])
    ptr += 1
    counter += 1
    print(f'지금까지 곱셈과 나눗셈 실행 횟수 = {counter}','\n')
    

print(prime)
print(f'곱셈과 나눗셈을 실행한 횟수 : {counter}')

----- n이 5일 때
prime[1] * prime[1] <= 5이 성립하지 않음(3 * 3 = 9). while문 실행 x
따라서 5 값이 prime 리스트에 추가됨
지금까지 prime 리스트 상황 :  [2, 3, 5]
지금까지 곱셈과 나눗셈 실행 횟수 = 1

----- n이 7일 때
prime[1] * prime[1] <= 7이 성립하지 않음(3 * 3 = 9). while문 실행 x
따라서 7 값이 prime 리스트에 추가됨
지금까지 prime 리스트 상황 :  [2, 3, 5, 7]
지금까지 곱셈과 나눗셈 실행 횟수 = 2

----- n이 9일 때
9일 때 9 % 3 == 0이 성립하기 때문에 break
이때 곱셈과 나눗셈 실행 횟수 = 4

----- n이 11일 때
prime[2] * prime[2] <= 11이 성립하지 않음(5 * 5 = 25). while문 실행 x
따라서 11 값이 prime 리스트에 추가됨
지금까지 prime 리스트 상황 :  [2, 3, 5, 7, 11]
지금까지 곱셈과 나눗셈 실행 횟수 = 7

[2, 3, 5, 7, 11, None, None, None, None, None]
곱셈과 나눗셈을 실행한 횟수 : 7

### 보충) 리스트와 튜플

##### 따로 생성한 리스트, 튜플의 동일성 판단하기

In [ ]:
list1 = [1,2,3,4,5]
list2 = [1,2,3,4,5]
list1 is list2

False

* 같은 리스트를 생성한 것처럼 보이지만 고정된 값(literal)이 아니기 때문에 False 출력됨

##### 리스트, 튜플의 대입

In [ ]:
lst1 = [1,2,3,4,5]
lst2 = lst1
lst1 is lst2

True

In [ ]:
lst1[2] = 9
lst1

[1, 2, 9, 4, 5]

In [ ]:
lst2

[1, 2, 9, 4, 5]

* 리스트 2개를 선언하여 서로 대입해도 원소 자체는 복사되지 않음. 대입에서 복사되는 것은 값이 아니라 참조하는 곳이기 때문  
* 대입식 lst2 = lst1 에서 lst2 는 lst1 을 참조

##### 리스트 스캔

* 실습 2c-1
  * 리스트의 모든 원소를 스캔하기 (원소 수를 미리 파악)

In [ ]:
x = ['John', 'George', 'Paul', 'Ringo']

for i in range(len(x)):
  print(f'x[{i}] = {x[i]}')

x[0] = John
x[1] = George
x[2] = Paul
x[3] = Ringo

* 실습 2c-2
  * 리스트의 모든 원소를 enumerate() 함수로 스캔하기

In [ ]:
x = ['John', 'George', 'Paul', 'Ringo']

for i, name in enumerate(x):
  print(f'x[{i}] = {name}')

x[0] = John
x[1] = George
x[2] = Paul
x[3] = Ringo

* 실습 2c-3
  * 리스트의 모든 원소를 enumarate() 함수로 스캔하기 (1부터 카운트)

In [ ]:
x = ['John', 'George', 'Paul', 'Ringo']

for i, name in enumerate(x, 1):
  print(f'{i}번째 = {name}')

1번째 = John
2번째 = George
3번째 = Paul
4번째 = Ringo

* 실습 2c-4
  * 리스트의 모든 원소를 스캔하기 (인덱스 값을 사용하지 않고)

In [ ]:
x = ['John', 'George', 'Paul', 'Ringo']

for i in x:
  print(i)

John
George
Paul
Ringo

##### 튜플의 스캔

* 실습 2c-1
  * 튜플의 모든 원소를 스캔하기 (원소 수를 미리 파악)

In [ ]:
x = ('John', 'George', 'Paul', 'Ringo')

for i in range(len(x)):
  print(f'x[{i}] = {x[i]}')

x[0] = John
x[1] = George
x[2] = Paul
x[3] = Ringo

* 실습 2c-2
  * 튜플의 모든 원소를 enumerate() 함수로 스캔하기

In [ ]:
x = ('John', 'George', 'Paul', 'Ringo')

for i, name in enumerate(x):
  print(f'x[{i}] = {name}')

x[0] = John
x[1] = George
x[2] = Paul
x[3] = Ringo

* 실습 2c-3
  * 튜플의 모든 원소를 enumarate() 함수로 스캔하기 (1부터 카운트)

In [ ]:
x = ('John', 'George', 'Paul', 'Ringo')

for i, name in enumerate(x,1):
  print(f'{i}번째 = {name}')

1번째 = John
2번째 = George
3번째 = Paul
4번째 = Ringo

* 실습 2c-4
  * 리스트의 모든 원소를 스캔하기 (인덱스 값을 사용하지 않고)

In [ ]:
x = ('John', 'George', 'Paul', 'Ringo')

for i in x:
  print(i)

John
George
Paul
Ringo

##### 이터러블

* 문자열, 리스트, 튜플, 딕셔너리, 집합 등의 자료형 객체는 모두 이터러블( 반복 가능)함
* 이터러블 객체는 원소를 하나씩 꺼내는 구조
* 이터러블 객체를 내장 함수인 iter()의 인수로 전달하면 그 객체에 대한 이터레이터(반복자)를 반환
* 이터레이터는 데이터의 나열을 표현하는 객체
* 이터레이터의 `__next__` 함수를 호출하거나 내장 함수인 `next()` 함수에 이터레이터를 전달하면 원소를 순차적으로 꺼낼 수 있음
* 꺼낼 원소가 더 이상 없는 경우에는 StopIteration으로 예외 발생 시킴

##### 리스트 역순

In [ ]:
x = ['John', 'George', 'Paul', 'Ringo']

x.reverse()
x

['Ringo', 'Paul', 'George', 'John']

In [ ]:
y = list(reversed(x))
y

['John', 'George', 'Paul', 'Ringo']

##### 리스트의 원소 복사

* 얕은 복사 (shallow copy)
  * 리스트 안의 모든 원소가 참조하는 곳까지 복사됨
  * 객체가 갖는 멤버의 값을 새로운 객체로 복사할 때 객체가 참조 자료형의 멤버를 포함하는 경우
  * 참조값만 복사하는 방식

In [ ]:
x= [[1,2,3], [4,5,6]]
print('변경 전 list x = ', x)
y = x.copy()
x[0][1] = 0
print('변경 후 list x = ', x)
print('변경 후 list y = ', y)

변경 전 list x =  [[1, 2, 3], [4, 5, 6]]
변경 후 list x =  [[1, 0, 3], [4, 5, 6]]
변경 후 list y =  [[1, 0, 3], [4, 5, 6]]

* 깊은 복사 (deep copy)
  * 참조값 뿐만 아니라 참조하는 객체 자체를 복사하는 방식
  * 객체가 갖는 모든 멤버(값과 참조 형식 모두)를 복사 = 전체 복사

In [ ]:
import copy 

x= [[1,2,3], [4,5,6]]
print('변경 전 list x = ', x)
y = copy.deepcopy(x)
x[0][1] = 0
print('변경 후 list x = ', x)
print('변경 후 list y = ', y)

변경 전 list x =  [[1, 2, 3], [4, 5, 6]]
변경 후 list x =  [[1, 0, 3], [4, 5, 6]]
변경 후 list y =  [[1, 2, 3], [4, 5, 6]]

### 보충) 함수 사이에 인수 주고 받기

1. **인수가 이뮤터블일 때** : 실습 2c-5
  * 함수 안에서 매개 변수의 값을 변경하면 다른 객체를 생성하고 그 객체에 대한 참조로 업데이트 됨. 따라서 매개변수의 값을 변경해도 호출하는 쪽의 실제 인수에는 영향을 주지 않음

2. **인수가 뮤터블일 때** : 실습 2c-6
  * 함수 안에서 매개변수의 값을 변경하면 객체 자체가 없데이트. 따라서 매개변수의 값을 변경하면 호출하는 쪽의 실제 인수는 값이 변경됨.

#### 실습 2c-5.

* 1부터 n까지 정수의 합 구하기

In [ ]:
def sum_1ton(n):
  """1부터 n까지 정수의 합"""
  s = 0
  while n > 0:
    s += n
    n -= 1
  return s

x = int(input('x의 값을 입력하세요 : '))
print(f'1부터 {x}까지 정수의 합은 {sum_1ton(x)}입니다.')

x의 값을 입력하세요 : 5
1부터 5까지 정수의 합은 15입니다.

* 매개변수 n으로 실제 인수 x의 값이 복사되었다고 생각하면 안됨.  
함수 종료 시점에 x = 5, n = 0임

#### 실습 2c-6.

* 리스트에서 임의의 원솟값을 업데이트하기

In [ ]:
def change(lst, idx, val):
  """lst[idx]의 값을 val로 업데이트"""
  lst[idx] = val

x = [11,22,33,44,55]
print('x = ', x)

index = int(input('업데이트 할 인덱스 선택 : '))
value = int(input('새로운 값 입력 : '))

change(x, index, value)
print(f'x = {x}')

x =  [11, 22, 33, 44, 55]
업데이트 할 인덱스 선택 : 2
새로운 값 입력 : 99
x = [11, 22, 99, 44, 55]